[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "bundle/gist-vim"]
	path = bundle/gist-vim
	url = git://github.com/mattn/gist-vim.git
[submodule "bundle/numbers.vim"]
	path = bundle/numbers.vim
	url = git://github.com/myusuf3/numbers.vim.git
[submodule "bundle/unite-vim"]
	path = bundle/unite-vim
	url = git://github.com/Shougo/unite.vim.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/vimerl"]
	path = bundle/vimerl
	url = git://github.com/jimenezrick/vimerl.git
[submodule "bundle/vimproc"]
	path = bundle/vimproc
	url = git://github.com/Shougo/vimproc.git
[submodule "bundle/vimshell"]
	path = bundle/vimshell
	url = git://github.com/Shougo/vimshell.git
[submodule "bundle/vinarise"]
	path = bundle/vinarise
	url = git://github.com/naruyan/vinarise.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/a.vim"]
	path = bundle/a.vim
	url = git://github.com/vim-scripts/a.vim.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-elixir"]
	path = bundle/vim-elixir
	url = git://github.com/elixir-lang/vim-elixir.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = git://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = git://github.com/terryma/vim-multiple-cursors.git
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "bundle/vim-rfc"]
	path = bundle/vim-rfc
	url = git://github.com/mhinz/vim-rfc.git
[submodule "bundle/snipmate.vim"]
	path = bundle/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/javacomplete"]
	path = bundle/javacomplete
	url = git://github.com/vim-scripts/javacomplete.git
[submodule "bundle/vim-adb-logcat"]
	path = bundle/vim-adb-logcat
	url = git://github.com/vim-android/vim-adb-logcat.git
[submodule "bundle/vim-android"]
	path = bundle/vim-android
	url = git://github.com/hsanson/vim-android.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/vim-css-color"]
	path = bundle/vim-css-color
	url = git@github.com:skammer/vim-css-color.git
[submodule "bundle/lightline"]
	path = bundle/lightline
	url = git@github.com:itchyny/lightline.vim.git
[submodule "bundle/SyntaxRange"]
	path = bundle/SyntaxRange
	url = git@github.com:vim-scripts/SyntaxRange.git
